<div class="container border">
    <mat-icon class="close-button" (click)="close()">close</mat-icon>
    <div cdkDropList [cdkDropListData]="widgets" id="widget-list" [cdkDropListConnectedTo]="(tabs | async)!"
        cdkDropListSortingDisabled class="list">
        @for(widget of widgets; track widget.name) {
        <div class="widget" cdkDrag (cdkDragStarted)="onDragStart($event)" (cdkDragEnded)="onDragEnd($event)">
            <div style="width: 100%; height: 100%; overflow: hidden">
                <ng-container *ngComponentOutlet="widget.component" /> 
            </div>
        </div>
        }
    </div>
</div>