<div class="container border">
    <div cdkDropList [cdkDropListData]="widgets" id="widget-list" cdkDropListConnectedTo="dashboard-widgets"
        cdkDropListSortingDisabled class="list">
        @for(widget of widgets; track widget) {
        <div class="widget" cdkDrag (cdkDragStarted)="onDragStart($event)" (cdkDragEnded)="onDragEnd($event)">
            {{widget.name}}
            <div *cdkDragPreview style="width: 300px; height: 300px; overflow: hidden">
                <ng-container *ngComponentOutlet="widget.component" /> `
            </div>
        </div>
        }
    </div>
</div>