@use '../../../../styles' as s;

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    container-name: main;
    container-type: inline-size;
}

.coin {
    width: 100px;
    height: 100px;
}

.coin:hover {
    cursor: pointer;
}

.coin-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    animation: flip 3s forwards;
    transform-style: preserve-3d;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    border-radius: 50%;
    perspective: 1000px;
    animation-duration: 0s;
    -webkit-animation-duration: 0s;
}

.animation {
    animation-duration: 3s;
}


.head,
.tail {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.head {
    background-color: #bbb;
    color: black;
    user-select: none;
}

/* Style the back side */
.tail {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg) rotateZ(180deg);
    user-select: none;
}

.history {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    font-family: s.$font;
}

.history>p {
    word-wrap: break-word;
}

@keyframes flip {
    0% {
        transform: rotateX(0deg) scale(1);
    }

    50% {
        transform: rotateX(calc(var(--rotation) * 180deg)) scale(1.3)
    }

    100% {
        transform: rotateX(calc(var(--rotation) * -180deg)) scale(1)
    }
}

@container main (width < 250px) {
    .history {
        display: none;
    }
}