<div class="dashboard border" cdkDropList (cdkDropListDropped)="dropWidget($event)" [cdkDropListData]="widgets"
    id="dashboard-widgets" cdkDropListConnectedTo="widgets-list" cdkDropListOrientation="mixed">
    @for(widget of widgets(); track widget.id) {
    <div class="widget border" cdkDrag [ngStyle]="widget.config" (cdkDragStarted)="onDragStart($event)"
        (cdkDragEnded)="onDragEnd($event)" cdkDragBoundary=".dashboard" #widget id="{{widget.id}}">


        @if( editMode() ) {
        <div class="widget-header">
            <div class="drag-handle" cdkDragHandle>
                <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                    <path
                        d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
                    </path>
                    <path d="M0 0h24v24H0z" fill="none"></path>
                </svg>
            </div>
        </div>
        }


        <div class="widget-content">
            <app-widget-wrapper [widget]="widget.name" [component]="widget.component"></app-widget-wrapper>
        </div>
    </div>
    }
</div>