<button data-testid="menu" mat-mini-fab aria-label="" class="menu-button" (click)="menuToggle()">
    <mat-icon>menu</mat-icon>
</button>
<div data-testid="circle-menu" class="quarter-circle" #menu>
    <div class="circle-buttons">
        <button data-testid="edit-mode" mat-mini-fab (click)="addWidget()">
            <mat-icon>add_circle</mat-icon>
        </button>
        <button mat-mini-fab (click)="addTab()">
            <mat-icon>add_to_queue</mat-icon>
        </button>
        <button>C</button>
        <button>D</button>
    </div>
</div>