@if(isLoading()) {
<div class="loader-container">
    <div class="loader"></div>
</div>
} @else {
<div class="container" [ngClass]="containerClasses()">

    @if(isDay() ) {
    <div class="sun"></div>
    } @else {
    <div class="moon"></div>
    <div class="stars"></div>
    <div class="stars2"></div>
    <div class="stars3"></div>
    }
    @if(showClouds) {
    <div class="clouds" [ngStyle]="{ 'opacity': isDay() ? 1 : 0.4 }"></div>
    }
    <section class="info-container"
        [ngStyle]="{ 'color': isDay() ? '#000000' : '#ddd'}">
        <div class="top">
            <div>
                <div class="date">{{dayOfWeek()}} {{computedTime()}}</div>
                <div class="temperature">
                    {{temperature()}}&deg;C
                </div>
            </div>
            <div class="details">
                <span>
                    Precipitation: {{details().precipitation}}%
                </span>
                <span>
                    Wind Speed: {{details().windSpeed}}km/h
                </span>
                <span>
                    Humidity: {{details().humidity}}%
                </span>
            </div>
        </div>
        <div class="bottom">
            <div class="chart-container">
                <canvas id="{{canvasId}}"></canvas>
            </div>
            <div class="daily-container">
                @for( day of dailyTempretures; track day) {
                <div class="daily">
                    <div class="day">
                        {{day.day}}
                    </div>
                    <div class="icon">
                        <img src="{{day.img}}">
                    </div>
                    <div class="minmax">
                        <span>
                            {{day.max}}&deg;C
                        </span>
                        <span>
                            {{day.min}}&deg;C
                        </span>
                    </div>
                </div>
                }
            </div>
        </div>
    </section>
</div>
}