<div class="container" [ngClass]="isDay ? 'night-sky' : 'day-sky'">
    @if(isDay) {
    <div class="sun"></div>
    } @else {
    <div class="moon"></div>
    <div class="stars"></div>
    <div class="stars2"></div>
    <div class="stars3"></div>
    }
    @if(showClouds) {
    <div class="clouds" [ngStyle]="{ 'opacity': isDay ? 1 : 0.4 }"></div>
    }
    <section class="info-container" [ngStyle]="{ 'color': isDay ? '#000000' : '#ddd'}">
        <div class="left">
            <div class="date">{{dayOfWeek()}} {{computedTime()}}</div>
            <div class="temperature">
                {{temperature()}}&deg;C
            </div>
        </div>
        <div class="bottom">

        </div>
    </section>
</div>