.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;

    container-name: main;
    container-type: inline-size;
}

.clock-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;  
}

.timezone {
    font-size: 1.5rem;
}

@container main (width < 240px) {

    .clock-container {
        transform: scale(0.6);
        padding: 0px;
        height: auto;
        margin-top: -10px;
    }

}